body{
    width: 450px;
    height:300px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.form-control-inline {
    min-width: 0;
    width: auto;
}

input[type=text] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 50px;
    box-sizing: border-box;
    background-color : #eaff05;
    border-color: #000000;
}